*{
    padding: 0;
    margin: 0;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 25px;
    margin-bottom: 80px;

}

form {
    border-radius: 5px;
    background-color: #333; 
    width: 40%;
    margin: auto;
    display:flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace, monospace; 

}

.flex{
    margin-top: 20px;
    display: flex;
}
input, .form-bt {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.form-bt{
    padding: 22px;
}
input{
    width: 400px;
}
.form-btn{
    background-color: red ;
    color: white;
    border: none;
    cursor: pointer;

}
.form-btn:hover{
    background-color: rgba(235, 53, 53, 0.393);

}

.tasks{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.task-input{
    width: 300px !important;
}
.task-links{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.form-btn{
    width: 200px !important;
}
.tasks-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: 30px;
  
}
h5{
    display: flex;
    flex-direction: row;
}
.single-task{
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap:600px;
    box-shadow: 0px 3px 10px 3px rgb(65, 65, 65);
    margin-top: 30px;
    font-size: 30px;
    height: 70px;

}
.single-task span{
    margin-right:10px ;
}

.fas, .far{
    color: green;
    font-size: 20px;
    width: 30px;

}
.far{
    visibility: hidden;
}
.fa-trash{
    color: red;
    font-size: 17px;

}
.edit-link{
  width: 100%;
  padding: 10px;
  background-color: #ff4444;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.delete-btn{
  transition: 0.3s !important;
  margin-right: 20px;

}
.delete-btn:hover{
  background-color:rgb(43, 1, 1);
  box-shadow: 0px 0px 5px 4px red;

  
}
.edit-link a{
  display: flex;
  justify-content: center;
  align-items:center;
}
.edit-link:hover{
  background-color: rgb(65, 207, 65);
  box-shadow: 0px 0px 5px 4px green;
}
.fa-check-circle{
  margin-left: 10px;
}
.task-completed i{
    visibility: visible;
}
.task-completed p{
    text-decoration: line-through;
    text-decoration-color: green;
}

.form-alert{
    color: red ;
    font-size: 20px;
    margin-top: 20px;
}

.text-success{
    color: green ! important;
    font-size: 20px;
    margin-top: 20px;
}

/* task.html */

body {
    background-color: #222; 
    color: #fff; /* White text color */
    font-family: Arial, sans-serif; /* Choose your preferred font-family */
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 100px;
    background-color: #333; 
    border-radius: 10px;
    box-shadow: 0 0 30px 10px rgba(255, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
  }
  .back-link{
    text-decoration: none;
  }
  h4 {
    color: #ff4444; /* Red text color for headings */
    text-align: center;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff4444; 
    border-radius: 5px;
    background-color: #444; 
    color: #fff;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff4444; /* Red button background color */
    border: none;
    color: #fff; 
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff0000; /* Darker red for button on hover */
  }
  
  .form-alert {
    color: #ff4444; /* Red text color for form alerts */
    text-align: center;
    margin-top: 10px;
  }
  
  .back-link {
    margin-top: 70px;
    text-align: center;
    text-decoration: none;
    color: #ff4444; /* Red color for the back link */
    transition: color 0.3s, border-bottom 0.3s;
    font-size: 20px;
  }
  
  .back-link:hover {
    color: #ff0000; /* Darker red for the link on hover */
  }
  .black{
    color: black;
  }
.edit-form-h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.form-control{
    font-size: 20px;
    width: 400px;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.task-edit-name{
    margin-left: 20px;
    height: 20px;
}
.checkbox{
  width: 100px;
  height: 25px;
}
.task-edit-btn{
  margin-top: 20px;
}
.form-alert{
  margin: 30px 0;
  display: hidden;
  width: 300px;
}
.single-task{
  max-width: 1000px !important;
}
.single-task:hover{
  box-shadow: 0 0 30px 10px red;
}
.task-completed:hover{
  box-shadow: 0 0 30px 10px green;

}
.task-completed , .single-task{
    transition: 0.5s;
}